<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- <add key="github_build_local" value="https://nuget.pkg.github.com/lorenzonicolas/index.json" /> -->
        <add key="local" value="D:\Repositorios\packages" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="REPLACE_USERNAME" />
            <add key="ClearTextPassword" value="REPLACE_PASSWORD" />
        </github>
    </packageSourceCredentials>
</configuration>