<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="spotifyfClientID" value="3702acc8457345f9bfbea2d0a1b36596" />
    <!--<add key="folderToProcess" value="D:\Downloads\MUSICA\TEST" />-->
    <add key="folderToProcess" value="D:\Downloads\MUSICA\Escuchados" />
    <!--<add key="folderToProcess" value="D:\Music" />-->
    <!--<add key="folderToProcess" value="D:\Downloads\MUSICA\OUTPUT_PARSER_TEST"/>-->
    <add key="mainMusicFolder" value="D:\Music" />
    <add key="working_dir" value="D:\Downloads\MUSICA\OUTPUT_PARSER\01_Working_Dir" />
    <add key="manual_fix_dir" value="D:\Downloads\MUSICA\OUTPUT_PARSER\02_Need_Manual_Fix" />
    <add key="tag_fix_dir" value="D:\Downloads\MUSICA\OUTPUT_PARSER\03_Need_Tag_Fix" />
    <add key="error_dir" value="D:\Downloads\MUSICA\OUTPUT_PARSER\04_Error" />
    <add key="done_dir" value="D:\Downloads\MUSICA\OUTPUT_PARSER\05_Done" />
    <add key="generateLogOnOK" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>